.git
.github
.agents
.gemini
node_modules
vendor
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.phpunit.cache
tests
_ide_helper.php
.phpstorm.meta.php
Dockerfile
README.md
