.git
.github
.agents
.gemini
.atl
.engram
.agents
.phpunit.cache
.pnpm-store
infrastructure
node_modules
vendor
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.env
.phpunit.cache
tests
_ide_helper.php
.phpstorm.meta.php
Dockerfile
README.md
public/hot
public/storage
public/build
